@import url("style/header.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-fundo-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

:root{
    --cor-fundo-fundo:#EBECEE;
    --branco: #ffffff;
    --laranja: #EB9B00;
    --azul-degrade: #002F52, #326589;
    --fonte-principal: "poppins";

}