.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    font-size: 18px;
    padding: 1rem 0 0.5rem 0;
    font-weight: 700;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}