.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1rem;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1rem;
    background-color: var(--branco);
}





