.topicos {
    background: var(--azul-degrade);
    text-align: center;
    height: 280px;
    
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    font-size: 16px;
    padding: 1rem 0 2rem 0;
}

.item__linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.topico__item {
   color: var(--branco); 
   padding: 1rem;
   background-color: var(--laranja);
   text-decoration: none;
   font-size: 14px;
   font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
    }

    .topico__item {
        font-size: 24px;
    }

    .item__linha {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0 6rem;
    }
    
}

